body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:red;
}
p{
    border: 1px solid blue;
    color: white;
    background-color: violet;
}
#datos{
    width: 200px;
    height: 200px;
    background-color: tomato;
}
#datos2{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    background-color: teal;
}