body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:red;
}
p{
    border: 1px solid blue;
    color: white;
    background-color: violet;
}
div #datos{
    width: 20px;
    height: 20px;
    background-color: tomato;
}